
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body {
  color: white;
  font-family: Helvetica, Arial, sans-serif;
}


/* HEADER / NAV BAR STYLES START */

header {
  padding: 20px 35px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  background-image: url("../images/hero.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: 80%;
  z-index: 9999;
}

header h1 {
  font-weight: bold;
  margin: 0;
  font-size: 24px;
  color: white;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background: rgba(76, 175, 80, 0.3)
}

header p {
  text-decoration: none;
  font-size: 36px;
  color: white;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background: rgba(76, 175, 80, 0.3);
  color: rgba(33, 8, 54, 0.5);
}

header nav {
  margin: 7px 0;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

header nav ul li a {
  color:aliceblue;
  font-weight: bold;
  padding: 10px 15px;
  
  font-size: 1.55vw;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}

header nav ul li a:hover {
  background: grey;
  color: white;
  border-radius: 15px;
  text-shadow: none;
}

/* HEADER / NAVBAR STYLES END */


/* STYLE ALL SECTION TAGS */
section {
  padding: 5%;
  display: flex;
  flex-wrap: wrap;
}


/* HERO STYLES START */
.hero {
  background-image: url('../images/hero.jpg');
  background-size: cover;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  align-items: flex-end;
  background-attachment: fixed;
  background-position: 80%;
}

.hero h2 {
  color:rgb(2, 40, 41, 60%);
  font-size: 48px;
  font-weight: bold;
  font-family: fantasy;
  margin-right: 10%;
  margin-bottom: 0;
}

/* HERO STYLES END */


/* INTRO STYLES */

.intro {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  background-image: url('../images/mainbackground.jpg');
  background-attachment: fixed;
  margin-top: 10px;
  font-weight: bold;
  margin-bottom: -20px;
}

.intro h3 {
  font-size: 36px;
  font-family: cursive;
  font-weight: bold;
  color: white;
  text-align: right;
  
  flex: 1 20%;
  padding-right: 60px;
  padding-left: 0;
  padding-top: 20px;
  
}
.intro div {
  display: inline-flex;
  flex-wrap: wrap;
  flex:2 50%;  
  align-items: flex-start;
  justify-content: space-around;
  
}
.intro img {
  width: 180px;
  border-radius: 30px;
  margin-top: 30px;
  margin-right: 10px;
  box-shadow: rgba(0,0,0,0.8);
  margin-right: 40px
}

.intro ul {
  line-height: 1.7;
  color: white;
  margin-left: 10px;
  font-size: 20px;
  text-align: left;
  flex:2 30%;
  padding-top: 20px;
  padding-left: 20px;
  text-align: left;
  
}

/* INTRO STYLES END */


/* WORK STYLES START */

.work {
  background-image: url('../images/mainbackground.jpg');
  background-attachment: fixed;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  align-items: stretch;
  padding-bottom: 10%;
  margin-bottom: 1%;
}

.work h3 {
  font-size: 36px;
  font-family: cursive;
  font-weight: bold;
  color: white;
  text-align: right;
  flex: 1 20%;
  padding-right: 60px;
  padding-left: 0;
  padding-top: 20px;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  flex:2 50%;  
  align-items: stretch;
  justify-content: space-around;
  
}

.project {
  text-align: left;
  line-height: 1.5;
  height:200px;
  
  font-size: 18px;
  padding: 2% 2%;
  
  margin: 1% auto;
  background-size:cover;
  background-position:100%;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);

  display:inline-flex;
  
}


.project:hover { 
  transform: scale(1.1); 
  filter:brightness(130%);
  
}

.project-text {
  background-color: rgba(40, 43, 42, 0.39);
  
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  height: 100px;
  width: 200px;
  
  margin: auto;
  font-size: 22px;
  color:white;
  font-weight: bold;
  border-radius: 15px;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  padding-left: 30px;
  
  padding-top: 2px;

}

.project-text:hover {
  transform: scale(1.1); 
  filter:brightness(130%);
  color:darkkhaki
}


#project-link:hover {
  transform: scale(1.5); 
  filter:brightness(130%);
  color:black;
  
}
.project-text p span {
  font-family: cursive;
  font-weight: bolder;
  font-size: 20px;
  font-style: normal;
}

.project-text a {
  font-size: 22px;
  color: azure;
  font-style: normal;
  font-weight: bolder;
}

#project1 {
  background-image: url('../images/project1.jpg');
  width: 96%;
  color:black
  
}

#project-text1 {
  width: 80%;
  font-size: 22px;
}

#project-text1 a{
  font-size: 22px;
}

#project2 {
  background-image: url('../images/project2.jpg');
  width: 95%;
}

#project-text2 {
  width: 60%;
}

#project3 {
  background-image: url('../images/project3.jpg');
  width: 94%;
  color:black
}

#project-text3{
  width:60%
}

#project4 {
  background-image: url('../images/project4.jpg');
  width: 50%;
}

#project-text4{
  width:80%;
}


#project5 {
  background-image: url('../images/project5.jpg');
  width: 40%;
}
#project-text5{
  width:60%;
  
}



/* WORK STYLES END */


/* CONTACT STYLES START */
.contact {
  background: grey;
  background-attachment: fixed;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  
}

.contact h3 {
  font-size: 36px;
  font-family: cursive;
  font-weight: bold;
  
  text-align: right;
  flex: 1 20%;
  padding-right: 60px;
  padding-left: 0;
  padding-top: 10px;
}

.contact-info {
  font-size: 20px;
  font-family: sans-serif;
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  flex:2 50%;
}

.contact-info a {
  color: aqua;
}

#phone {
  text-align: center;
  flex: 1 30%;
}

#phone span{
  font-weight: bold;
  font-size: 22px;
}

#email{
  flex: 1 30%;
  text-align:center;
}

#email span{
  font-weight: bold;
  font-size: 22px;
}


#github{
  text-align: center;
  font: 16px;
  flex: 2 30%;
}

#github span{
  font-weight: bold;
  font-size: 22px;
}

#linkedin{
  text-align: center;
  font: 16px;
  flex: 2 30%;
}

#linkedin span{
  font-weight: bold;
  font-size: 22px;
}
/*CONTACT STYLES END*/



/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {

  header {
    padding-bottom: 0;
    justify-content: center;
    position: relative;
  }

  header h1 {
    width: 100%;
    text-align: center;
    
  }

  header nav ul {
    margin-top: 20px;
    width: 100%;
    justify-content: center;
  }

  header nav ul li a {
    font-size: 20px;
  }

  header h1{
    font-size: 36px;
  }

   
  .project {
    flex: 0 70%;
  }
}
  

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {

  * {
    text-align: center;
  }

  section {
    padding-right: 10%;
    justify-content: center;
  }

  header h1{
    font-size: 28px;
  }
 

  .project {
    flex: 0 80%;
  }
  
}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
  
  * {
    text-align: center;
  }

  header h1{
    font-size: 20px;
  }

     
  .project {
    flex: 0 90%;
  }
    
}
