.hero {
    background-position: bottom;
    height: auto;
    text-align: center;
    margin-bottom: 40px;
  }
  
  .page-title {
    display: inline-block;
    padding: 0 80px 15px 80px;
    font-weight: normal;
    font-size: 56px;
  }

  .gallery-head {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    margin: 0 auto;
    align-items: center;
    background-image: url('../images/gallerybackground.JPG');
    background-attachment: fixed;
    border-color: thistle;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
  }

  .gallery-head img {
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
  }
  
  .gallery-intro {
    font-size: 22px;
    color: white;
    flex:1.5 40%;
    text-align: center;
    margin-left: auto;
    margin-right: 8%;
    font-style: italic;
    font-family: Arial;
    line-height: 1.5;
    margin-top: 2%;
    font-weight: bold;
  }
  


  .gallery-images {
    
    border:solid 1px;
    border-color: thistle;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    background-image: url('../images/gallerybackground.JPG');
    background-attachment: fixed;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding:10%;
    margin: 0 auto;
    margin-top: 5%

  }

  .gallery-image {
    
    width: 42%;
    padding: 3%;
    margin-bottom: 10%;
    border-color: white;
    border-radius: 15px;
    border: solid 3px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    height: 400pxï¼›
      
  }
  
  .gallery-image:hover { 
    transform: scale(1.2); 
  }
  
  @media screen and (max-width: 768px) {
    
    *{
      text-align: center;
    }

    .gallery-image {
      flex: 0 80%;
    }
  }